/* .h1{
    text-align: left;
    text-transform: uppercase;
    color: black;
    -ms-text-size-adjust: auto; */
 
.h2{
    text-align: right;
    text-transform: uppercase;
    color: black;
}
*{
    margin: 0%;
    padding: 0%;
}
.deco{
    display: flex;
    align-items: center;
    margin:2%;
    padding:center;
    align-items:center;
    height:10%;
    width: 30%;

}
.cen{
    text-align: center;
}
.h1{
    margin: 40px;
    display: flex;
    justify-content:space-around;
    padding-left: 450px;
    padding-right: 450px;
    size:50px;
}

.social ul li{
    display: inline;
    padding: 100px;
}
.h9{
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.footer{
    padding-left: 350px;
    justify-content: space-between;
}







.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  
  .top-right {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .subcentered {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }